.super-mario {
    width: 150px;
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 420px;
    left: 135px;
    z-index: 1;
  }
  
  .baloon {
    position: absolute ;
    left: 350px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 370px;
    top: 120px;
    z-index: 1;
  }
  
  .bowser {
    position: absolute;
    width: 500px;
    top: 140px;
    left: 600px;
  }

  